.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  min-height: 700px;

  height: 90%;
  width: 100%;
}

.pesquisa-div {
  display: flex;
  gap: 30px;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.title-h1 {
  font-size: 3.6rem;
  font-weight: bold;
}

.title-h2 {
  font-size: 2.7rem;
  font-weight: 100;
}
.input-div {
  display: flex;
  gap: 10px;
}
.input-div button {
  font-size: 1.2rem;
  height: 50px;
  width: 100px;
}
#pesquisa {
  height: 50px;
  border-radius: 8px;
  border: 1px solid black;
  padding: 15px;
  font-size: 1.6rem;
  width: 50%;
}
.scrool-area {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 10px;
  width: 90%;
}
.clients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-add {
  height: 90px;
  width: 90px;
  font-size: 2.6rem;
  box-shadow: 1px 1px 5px black;

  margin-left: 85%;
  margin-top: 2%;
}


.form-divida {
  width: 50%;
  height: 80%;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-divida div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  height: 500px;
  width: 900px;
}

.form-divida form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.label {
  font-size: 1.6rem;
  display: block;
  margin-right: 90%;
}

.input-form-divida {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  border: 1px solid rgba(48, 43, 43, 0.473);

  min-width: 700px;
  min-height: 60px;
  border-radius: 20px;
  background: rgb(235, 227, 227);
  padding: 10px;
  width: 100%;
}

.btn-form {
  height: 50px;
  width: 100px;
  font-size: 1.6rem;
  box-shadow: 1px 1px 5px black;
}

.close-btn {
  height: 70px;
  width: 70px;
  font-size: 1.6rem;
  padding: 1px;

  margin-left: 85%;
  margin-bottom: 100px;
}
@media (max-width: 1330px) {
  .form-divida div {
    width: 100%;
  }

  .form-divida form {
    width: 100%;
  }

  .input-form-divida {
    min-width: 300px;
  }
}
@media (max-width: 698px) {
  .pesquisa-div {
    padding: 5%;
  }

  .title-h1 {
    font-size: 3.1rem;
  }

  .title-h2 {
    font-size: 2.5rem;
  }

  .btn-add {
    width: 70px;
    height: 70px;
    font-size: 2rem;
    margin-left: 75%;
  }

  .form-divida {
    width: 70%;
  }

  .form-divida div {
    width: 100%;
  }

  .input-form-divida {
    min-width: 30px;
  }

  .close-btn {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

@media (max-width: 488px) {
  .home-container {
    max-width: 400px;
    width: 100%;
  }
  .pesquisa-div {
    margin-left: 0;
    margin-right: 0;
  }

  .input-div {
    flex-direction: column;
  }

  .scrool-area {
    margin-top: 0;
    padding-right: 0;
  }

  .title-h1 {
    font-size: 1.9rem;
    margin-right: 30px;
  }
  .title-h2 {
    font-size: 1.3rem;
  }
  .btn-add {
    margin-top: 2px;
    margin-left: 70%;
    margin-bottom: 20px;
  }

  .form-divida {
    width: 90%;
  }
}
